body{
    padding: 10px;
    background-color:cornflowerblue;
}
.card{
    padding: 10px;
}.float-right{

    float: right;

}
.salvar{
    background-color:blue;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100px;
}
.container{
    padding: 20px;
    margin: 20px

}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color:royalblue;
}
.centrado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.formBox{
    padding: 5px;
    background-color: rgb(161, 192, 192);
}
.formLabel{
    padding: 5px;

}
.formInput{
    padding: 5px;

}
.btnExcluir{
    padding: 10px;
}
.btnEditar{
    padding: 10px;
}
.col40{
	width: 400px;
}
.col30{
	width: 300px;
}
.col50{
	width: 500px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
table{
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #FFFFFF;
    width: 350px;
    text-align: center;
    border-collapse: collapse;
}
th{
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
    background: #0B6FA4;
}
tr:nth-child(even){
  background: #D0E4F5;
} 
fieldset
{
    border:2px solid blue;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}
legend
{
  margin-bottom:0px;
  margin-left:16px;
}
td{
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.bordasimples .ExBut {
  text-align: right;
  display: inline-block;
  background: rgb(202, 79, 79);
  color: #000000;
  padding: 2px 8px;
  border-radius: 5px;
}
table.bordasimples .AltBut {
  text-align: right;
  display: inline-block;
  background: rgb(218, 218, 111);
  color: #000000;
  padding: 2px 8px;
  border-radius: 5px;
}
table.bordasimples .salBut {
  text-align: right;
  display: inline-block;
  background: rgb(67, 128, 67);
  color: #000000;
  padding: 2px 8px;
  border-radius: 5px;
}